volumes:
  project-data:
    external: true
services:
  api:
    build:
      context: ./api
      dockerfile: ./Dockerfile.dev
    environment:
      SIGNING_KEY: ${SIGNING_KEY}
      DATABASE_URL: ${DATABASE_URL}
      WAIT_HOSTS: ${WAIT_HOSTS}
      WAIT_TIMEOUT: ${WAIT_TIMEOUT}
    depends_on:
      - db
    ports:
      - "8000:80"
    volumes:
      - ./api:/app
    platform: linux/amd64
  db:
    image: postgres:latest
    volumes:
      - project-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DATABASES: ${POSTGRES_DATABASES}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "15432:5432"

  ghi:
    image: node:lts-bullseye
    command: /bin/bash run.sh
    working_dir: /app
    volumes:
      - ./ghi:/app
    ports:
      - "3000:3000"
    environment:
      WATCHPACK_POLLING: ${WATCHPACK_POLLING}
      HOST_OS: ${HOST_OS}
      NODE_ENV: ${NODE_ENV}
      HOST: ${HOST}
      PUBLIC_URL: ${PUBLIC_URL
      REACT_APP_API_HOST: ${REACT_APP_API_HOST}
