.signup-body {
  background-color: #1f1f1f;
  color: #efeded;
  display: flex;
  align-items: center;
  padding: 20px 200px;
}

.signup-body p {
  text-align: center;
}

.signup-body div {
  flex: 1 1 0;
}

.signup-body img {
  max-width: 300px;
}


.signup-form-body {
  text-align: center;
  display: flex;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1f1f1f;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  flex: 1 1 0;
  align-items: center;
}

/* .signup-form::before {
  content: '';
  background-image: linear-gradient(45deg, #ff0000,
  #ffb700);
  height: 358px;
  width: 91%;
  position: absolute;
  margin-top: -34px;
  margin-left: px;
  z-index: -1;
  border-radius: 2.7em;
  flex: 1 1 0;
} */

.signup-button {
  margin-top: 10px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 17px;
  background: #C9632C;
  color: black;
  padding: 0.7em 5.5em;
  display: flex;
  /* align-items: center; */
  border: 2px solid #1f1f1f;
  border-radius: 20px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  text-align: center;
}

.signup-button:hover {
  border: 2px solid #C9632C;
  background: #1f1f1f;
  color: #C9632C;
}

.signup-button:active {
  border: 2px solid #1f1f1f;
  background: #C9632C;
  color: black;
}

.input {
  width: calc(100% - 10px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1f1f1f;
  border-bottom: 1px solid #C9632C;
  outline: none;
  background-color: transparent;
  color: #EFEDED;
  font-family: Arial, Helvetica, sans-serif;
  transition: 0.2s;
}

.input:focus {
  border: 1px solid #1f1f1f;
  border-bottom: 1px solid #C9632C;
  background-color: transparent;
  color: white;
}

.input::placeholder {
  color: #9b725b;
}
