.signup-body {
  background-color: #1f1f1f;
  color: #efeded;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-flow: row wrap;
  justify-content: center;
}

.signup-body p {
  text-align: center;
}

.signup-body img {
  max-width: 200px;
}

.body-fix {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  /* text-align: center; */
  max-width: 60%;
}

.body-fix div {
  flex: 1 1 0;
}


.signup-form-body {
  text-align: center;
  display: flex;
  align-items: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: #1f1f1f;
  padding: 20px;
  color: white;
  text-align: center;
  font-size: 14px;
  flex: 1 1 0;
  align-items: center;
}

.signup-input {
  background-color: #1f1f1f;
  max-width: 190px;
  height: 40px;
  padding: 10px;
  border: 1px solid #C9632C;
  border-radius: 8px;
  color: #FFFFFF;
  max-width: 60%;
}

.signup-input:focus {
  background-color: #212121;
  outline-color: #D8B646;
  box-shadow: -3px -3px 15px #D8B646;
  transition: .1s;
  transition-property: box-shadow;
}


.signup-button {
  align-items: center;
  background-image: linear-gradient(144deg,#C9632C, #D18D39 50%,#D8B646);
  border: 0;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-size: 18px;
  justify-content: center;
  line-height: 1em;
  max-width: 60%;
  padding: 3px;
  text-decoration: none;
  touch-action: manipulation;
  white-space: nowrap;
  transition: all .3s;
}
