.signup-body {
  background-color: #1f1f1f;
  color: #efeded;
  padding: 20px;
  display: flex;
  /* align-items: center; */
  flex-flow: row wrap;
  justify-content: center;
}

.gradient-bg {
  background-color:hsla(21,64%,48%,1);
  background-image:
  radial-gradient(at 21% 44%, hsla(21,64%,48%,1) 0px, transparent 50%),
  radial-gradient(at 35% 10%, hsla(46,65%,56%,1) 0px, transparent 50%),
  radial-gradient(at 70% 12%, hsla(33,62%,52%,1) 0px, transparent 50%),
  radial-gradient(at 12% 67%, hsla(46,65%,56%,1) 0px, transparent 50%),
  radial-gradient(at 72% 22%, hsla(20,64%,48%,1) 0px, transparent 50%),
  radial-gradient(at 95% 26%, hsla(46,65%,56%,1) 0px, transparent 50%),
  radial-gradient(at 30% 81%, hsla(20,64%,48%,1) 0px, transparent 50%),
  radial-gradient(at 77% 81%, hsla(33,62%,52%,1) 0px, transparent 50%),
  radial-gradient(at 44% 42%, hsla(33,62%,52%,1) 0px, transparent 50%);
}
