.top-header {
    background-color: #111111;
    font-family: "Chakra Petch", sans-serif;
    color: #D8B646;
    font-weight: 400;
    padding: 20px;
    text-align: center;
    font-size: 40px;
}

.top-body{
    background-color: #111111;
    color: #efeded;
    padding: 10px;
    text-align: center;
    font-size: 10px;
}
.body {
    color: #efeded;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;

}

.img-prof {
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    }

.bottom-body {
    background-color: #111111;
    font-family: "Chakra Petch", sans-serif;
    color: #D8B646;
    font-weight: 400;
}

.interests-container {
    color: #efeded;
    font-size: 25px;
}
